body{
  box-sizing: border-box;
  margin: 0;
}

body *{
  box-sizing: inherit;
  font-family: Rubic, Helvetica, sans-serif;
  margin: 0;
}

li{
  list-style-type: none;
}

a, a:visited{
  text-decoration: none;
  color: unset;
}


button{
  outline: none;
  background-color: unset;
  border: none;
  color: inherit;
  overflow-x: hidden;
  cursor: pointer;
}


h1{
  font-size: 2em;
}

h2{
  font-size: 1.75em;
}

@media only screen and (min-width: 600px) {
  h1{
    font-size: 3em;
  }

  h2{
    font-size: 2em;
  }
  
}


input{
  outline: none;
  border: none;
}
