.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.gap-2{
  gap: 2rem !important;
}

.h-100{
  height: 100vh;
}

.stack{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}


.justify-start{
  justify-content: flex-start;
}

.justify-between{
  justify-content: space-between;
}

.center{
  display: grid;
  place-items: center;
}

.align-start{
  align-items: flex-start;
}

.flex-wrap{
  flex-wrap: wrap;
}

.responsive-flex{
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 600px) {
  .responsive-flex{
    flex-direction: row;
  }
}

.inverted-flex-responsive{
  display: flex;
}


@media only screen and (min-width: 600px) {
  .inverted-responsive-flex{
    flex-direction: column;
  }
}
